#demo-button {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 24px;
}

#demo-button-container {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-around;
}
